@import 'nib'

/* VARIABLES */
tdur        = 300ms ease
transition  = all tdur
radius      = 6px
spriteLink  = '../images/sprite.png'

/* FUNCTIONS */

clearfix()
  zoom 1
  &:before,
  &:after
    content ""
    display table
  &:after
    clear both

font-proxima()
  font-family 'proxima_nova', sans-serif

bs-cover( type = cover)
  background-size type
  .no-backgroundsize &
    -ms-behavior url(backgroundsize.min.htc)

overflow-ellipsis(blockWidth)
  text-overflow ellipsis
  white-space nowrap
  overflow hidden
  max-width blockWidth

multiline-overflow(lines-to-show)
  display block
  display -webkit-box
  max-height @line-height*lines-to-show
  -webkit-line-clamp lines-to-show
  -webkit-box-orient vertical
  overflow hidden
  text-overflow ellipsis

icon()
  background-image none !important
  position relative
  &:before
  &:after
    content ' '
    absolute left top
    width 100%
    height 100%
    opacity 1
    transition transition
    .no-opacity &
      display block
  &:after
    background-position 0 bottom
    opacity 0
    .no-opacity &
      display none
  &:hover
    &:before
      opacity 0
      .no-opacity &
        display none
    &:after
      opacity 1
      .no-opacity &
        display block

html
  height 100%
body
  position relative
  font-family MinionPro-Regular,"Times New Roman",Verdana
  font-weight normal
  margin 0
  -webkit-font-smoothing subpixel-antialiased !important
  backface-visibility hidden
h1,h2,h3,h4,ul,li
  margin 0
  padding 0
  list-style none

a
  text-decoration none
p
  margin 0

/* =============================================================================
Global elements
========================================================================== */
.none
  display none !important
.dtable
  display table
.dtcell
  display table-cell
  vertical-align middle
.invisible
  visibility hidden
  opacity 0 !important
.hidden
  display none !important
  visibility hidden !important
.visible
  visibility visible !important
  opacity 1 !important
.clear
  clear both
  height 0
  font-size 0
  line-height 0
  overflow hidden
  display block
.clearfix
  zoom 1
  &:before,
  &:after
    content ""
    display table
  &:after
    clear both
.min-width
  position relative
  height 100%
  max-width 980px
  min-width 980px
  margin 0 auto
.content
  position relative
  height 70%
  max-width 980px
  min-width 980px
  margin 15% auto

/**** ICONS ****/
.icon
  width 40px
  height 40px
  background url(spriteLink) no-repeat
  display inline-block
  margin 8px 0 0 50px
  &.icon-resoft-logo
    opacity 0
    transition transition
    icon()
    &:before
    &:after
      background url(spriteLink) no-repeat 0 -120px
    &:after
      background-position -40px -120px
.icon-logo-big
  position relative
  width 120px
  height 120px
  background-image url(spriteLink)
  background-position 0 0
  display block
  &:hover
    background-position -120px 0
.slides-icons
  display block
  position relative
  background-image url(spriteLink)
  &.icon-post
    margin 30px auto 42px auto
    width 130px
    height 130px
    background-position -253px -16px
  &.icon-tel
    margin 30px auto 32px auto
    width 84px
    height 140px
    background-position -415px -10px
  &.icon-slide-1
    margin 30px auto 0 auto
    width 271px
    height 182px
    background-position -5px -409px
  &.icon-slide-2
    margin 30px auto 0 auto
    width 288px
    height 269px
    background-position -334px -285px
  &.icon-slide-3
    margin 30px auto 0 auto
    width 164px
    height 166px
    background-position -635px -0px
  &.icon-slide-4
    float left
    &.left
      margin 54px 0 0 221px
      width 118px
      height 109px
      background-position -658px -326px
    &.center
      margin 38px 0 0 79px
      width 144px
      height 135px
      background-position -643px -173px
    &.right
      margin 54px 0 0 79px
      width 113px
      height 110px
      background-position -660px -445px
  &.icon-slide-5
    margin 40px auto 0 auto
    width 142px
    height 199px
    background-position -415px -592px
  &.icon-slide-6
    margin 38px auto 0 auto
    width 236px
    height 198px
    background-position 0 -602px
  &.icon-slide-7
    margin 38px auto 0 auto
    width 142px
    height 140px
    background-position -646px -570px
.icon-service
  display block
  background-image url(spriteLink)
  margin 0 auto
  &.create-design
    width 131px
    height 133px
    background-position -173px -174px
  &.technical-support
    width 97px
    height 115px
    background-position -529px -0px
  &.create-web
    width 121px
    height 119px
    background-position -436px -162px

/**** PAGES ****/
/**** SLIDER TEST ****/

sliderBackgrounds = #d96445, #da4673, #f68b51, #2eaf78, #019992, #edcb39, #54b957,#3a383e,#ffffff

for num in (0..8)
  .slide-{num}
    background sliderBackgrounds[num]
.company-info-slider-holder
  &.fixed
    position fixed
    top 0
    left 0
  &.rel
    left 0
    position relative

.company-info-slider
  width 100%
  height 100%
  position relative
  .slide
    position absolute
    margin 0 auto
    top 0
    left 0
    right 0
    bottom 0
    height 0
    overflow hidden
    p
      font-family 'Reef-bold', sans-serif
      font-size 23px
      color #ffffff
      text-align center
      text-transform uppercase
    &.is-active
      z-index 1

.footer-block
  height 128px
  width 100%
  background #f1635a
  /*h2
    font-size 80px
    text-align center
    padding 200px 0*/
/**** INDEX ****/
.header-block
  z-index 6
  position fixed
  height 58px
  width 100%
  background url("../images/header-bg.png")
.navigation
  clearfix()
  float right
  position relative
  margin 0 40px 0 0
  li
    float left
    margin 16px 0 0 40px
  a
    font-family 'Reef-bold', sans-serif
    font-size 28px
    color #ffffff
    line-height 28px
    transition 0.3s
    &:hover
      color #f1635a
      transition 0.3s
.bg-picture
  z-index 1
  position relative
  top 0
  left 0
  width 100%
  min-width 980px
  background  url("../images/bg-image.jpg") no-repeat center center
  height 641px
  background-size cover
  .logo
    padding 58px 0 0 52px
    text-align center
    .icon-logo-big
      margin-bottom -10px
    span
      display block
      text-align center
      font-family "Maxwell-bold","Times New Roman", sans-serif
      font-size 38px
      color #ffffff
.post
  position relative
  float left
  width 184px
  margin 0 0 0 288px

.or
  display inline-block
  position relative
  margin 0 0 0 22px
  float left
  font-family "Reef-bold",sans-serif;
  font-size 23px;
  color #FFF;
.tel
  position relative
  float left
  margin 0 0 0 32px
.services
  li
    float left
    margin-right 110px
    .image-holder
      height 150px
      position relative
      .icon-service
        position absolute
        top -500px
        left -500px
        right -500px
        bottom -500px
        margin auto
    &:first-child
      margin-left 9px
      margin-right 110px
    &:last-child
      padding 0
      margin 0
  h3
    font-size 28px
    font-family "Reef-bold", sans-serif
    text-align center
  .text-services
    display inline-block
    position relative
    bottom 0
    font-size 23px
    font-family "Reef-bold", sans-serif
    color #000
    vertical-align bottom









