@import 'nib'

/* VARIABLES */
tdur        = 300ms
transition  = all tdur
radius      = 6px
spriteLink  = '../img/sprite.png'

/* FUNCTIONS */

clearfix()
  zoom 1
  &:before,
  &:after
    content ""
    display table
  &:after
    clear both

font-proxima()
  font-family 'proxima_nova', sans-serif

bs-cover( type = cover)
  background-size type
  .no-backgroundsize &
    -ms-behavior url(backgroundsize.min.htc)

overflow-ellipsis(blockWidth)
  text-overflow ellipsis
  white-space nowrap
  overflow hidden
  max-width blockWidth

multiline-overflow(lines-to-show)
  display block
  display -webkit-box
  max-height @line-height*lines-to-show
  -webkit-line-clamp lines-to-show
  -webkit-box-orient vertical
  overflow hidden
  text-overflow ellipsis

icon()
  background-image none !important
  position relative
  &:before
  &:after
    content ' '
    absolute left top
    width 100%
    height 100%
    opacity 1
    transition transition
    .no-opacity &
      display block
  &:after
    background-position 0 bottom
    opacity 0
    .no-opacity &
      display none
  &:hover
    &:before
      opacity 0
      .no-opacity &
        display none
    &:after
      opacity 1
      .no-opacity &
        display block

html
  height 100%
body
  position relative
  font-family MinionPro-Regular,"Times New Roman",Verdana
  font-weight normal
  margin 0
  -webkit-font-smoothing subpixel-antialiased !important
  backface-visibility hidden
h1,h2,h3,h4,ul,li
  margin 0
  padding 0
  list-style none

a
  text-decoration none

/* =============================================================================
Global elements
========================================================================== */
.none
  display none !important
.dtable
  display table
.dtcell
  display table-cell
  vertical-align middle
.invisible
  visibility hidden
  opacity 0 !important
.hidden
  display none !important
  visibility hidden !important
.visible
  visibility visible !important
  opacity 1 !important
.clear
  clear both
  height 0
  font-size 0
  line-height 0
  overflow hidden
  display block
.clearfix
  zoom 1
  &:before,
  &:after
    content ""
    display table
  &:after
    clear both
.min-width
  position relative
  max-width 1280px
  min-width 1280px
  margin 0 auto

/**** ICONS ****/
.icon
  width 40px
  height 40px
  background url(sprite) no-repeat
  display inline-block
  margin 8px 0 0 50px
  &.icon-resoft-logo
    icon()
    &:before
    &:after
      background url(../images/sprite.png) no-repeat 0 -120px
    &:after
      background-position -40px -120px
.icon-logo-big
  position relative
  width 95px
  height 95px
  float left
  background-image url("../images/sprite.png")
  background-position -13px -13px
  margin 58px 0 0 52px
  &:hover
    background-position -131px -13px
  span
    display inline-block
    width 95px
    text-align center
    margin-top 95px
    font-family "Maxwell-bold","Times New Roman", sans-serif
    font-size 38px
    color #ffffff






/**** PAGES ****/
/**** SLIDER TEST ****/

sliderBackgrounds = #4eb3d3, #4bc6e0, #239e00, #ce9f00, #e27e4e, #e41b1d, #d03488

for num in (0..6)
 /* .slide-{num}
    background sliderBackgrounds[num]*/
.company-info-slider-holder
  &.fixed
    position fixed
    top 0
    left 0
  &.rel
    left 0
    position relative

.company-info-slider
  width 100%
  height 100%
  position relative
  .slide
    position absolute
    margin 0 auto
    top 0
    left 0
    right 0
    bottom 0
    height 0
    overflow hidden
    h3
      font-size 70px
      font-family sans-serif
      text-align center
      padding 200px 0
    &.is-active
      z-index 1

.footer-block
.header-block
  height 1000px
  width 100%
  background yellowgreen
  border-bottom 5px solid #000000
  h2
    font-size 80px
    text-align center
    padding 200px 0
/**** INDEX ****/
.header
  z-index 6
  position fixed
  height 58px
  width 100%
  background url("../images/header-bg.png")
.navigation
  clearfix()
  float right
  position relative
  margin 0 40px 0 0


  li
    float left
    margin 16px 0 0 40px
  a
    font-family 'Reef-bold', sans-serif
    font-size 28px
    color #ffffff
    line-height :28px
    transition 0.3s
    &:hover
      color #f1635a
      transition 0.3s
.bg-picture
  z-index 1
  position absolute
  top 0
  left 0
  min-height 550px
  width 100%
  min-width 1280px

  background  url("../images/bg-image.jpg") no-repeat center center
  height:641px;
  background-size:cover;






