/* VARIABLES */
/* FUNCTIONS */
html {
  height: 100%;
}
body {
  position: relative;
  font-family: MinionPro-Regular, "Times New Roman", Verdana;
  font-weight: normal;
  margin: 0;
  -webkit-font-smoothing: subpixel-antialiased !important;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
}
h1,
h2,
h3,
h4,
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
p {
  margin: 0;
}
/* =============================================================================
Global elements
========================================================================== */
.none {
  display: none !important;
}
.dtable {
  display: table;
}
.dtcell {
  display: table-cell;
  vertical-align: middle;
}
.invisible {
  visibility: hidden;
  opacity: 0 !important;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)" !important;
  filter: alpha(opacity=0) !important;
}
.hidden {
  display: none !important;
  visibility: hidden !important;
}
.visible {
  visibility: visible !important;
  opacity: 1 !important;
  -ms-filter: none;
  filter: none;
}
.clear {
  clear: both;
  height: 0;
  font-size: 0;
  line-height: 0;
  overflow: hidden;
  display: block;
}
.clearfix {
  zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.min-width {
  position: relative;
  height: 100%;
  width: 980px;
  min-width: 980px;
  margin: 0 auto;
}
.content {
  position: relative;
  overflow: hidden;
  height: 70%;
  width: 980px;
  min-width: 980px;
  margin: 15% auto;
}
/**** ICONS ****/
.icon {
  width: 40px;
  height: 40px;
  background: url("../images/sprite.png") no-repeat;
  display: inline-block;
  margin: 8px 0 0 11px;
}
.icon.icon-resoft-logo {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  transition: all 300ms ease;
  background-image: none !important;
  position: relative;
}
.icon.icon-resoft-logo:before,
.icon.icon-resoft-logo:after {
  content: ' ';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  -ms-filter: none;
  filter: none;
  transition: all 300ms ease;
}
.no-opacity .icon.icon-resoft-logo:before,
.no-opacity .icon.icon-resoft-logo:after {
  display: block;
}
.icon.icon-resoft-logo:after {
  background-position: 0 bottom;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
.no-opacity .icon.icon-resoft-logo:after {
  display: none;
}
.icon.icon-resoft-logo:hover:before {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
.no-opacity .icon.icon-resoft-logo:hover:before {
  display: none;
}
.icon.icon-resoft-logo:hover:after {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.no-opacity .icon.icon-resoft-logo:hover:after {
  display: block;
}
.icon.icon-resoft-logo:before,
.icon.icon-resoft-logo:after {
  background: url("../images/sprite.png") no-repeat 0 -120px;
}
.icon.icon-resoft-logo:after {
  background-position: -40px -120px;
}
.icon-logo-big {
  position: relative;
  width: 120px;
  height: 120px;
  background-image: url("../images/sprite.png");
  background-position: 0 0;
  display: block;
}
.icon-logo-big:hover {
  background-position: -120px 0;
}
.slides-icons {
  display: block;
  position: relative;
  background-image: url("../images/sprite.png");
}
.slides-icons.icon-post {
  margin: 30px auto 42px auto;
  width: 130px;
  height: 130px;
  background-position: -253px -16px;
}
.slides-icons.icon-tel {
  margin: 30px auto 32px auto;
  width: 84px;
  height: 140px;
  background-position: -415px -10px;
}
.slides-icons.icon-slide-1 {
  margin: 30px auto 0 auto;
  width: 271px;
  height: 182px;
  background-position: -5px -409px;
}
.slides-icons.icon-slide-2 {
  margin: 30px auto 0 auto;
  width: 288px;
  height: 269px;
  background-position: -334px -285px;
}
.slides-icons.icon-slide-3 {
  margin: 30px auto 0 auto;
  width: 164px;
  height: 166px;
  background-position: -635px 0px;
}
.slides-icons.icon-slide-4 {
  float: left;
}
.slides-icons.icon-slide-4.left {
  margin: 54px 0 0 221px;
  width: 118px;
  height: 109px;
  background-position: -658px -326px;
}
.slides-icons.icon-slide-4.center {
  margin: 38px 0 0 79px;
  width: 144px;
  height: 135px;
  background-position: -643px -173px;
}
.slides-icons.icon-slide-4.right {
  margin: 54px 0 0 79px;
  width: 113px;
  height: 110px;
  background-position: -660px -445px;
}
.slides-icons.icon-slide-5 {
  margin: 40px auto 0 auto;
  width: 142px;
  height: 199px;
  background-position: -415px -592px;
}
.slides-icons.icon-slide-6 {
  margin: 38px auto 0 auto;
  width: 236px;
  height: 198px;
  background-position: 0 -602px;
}
.slides-icons.icon-slide-7 {
  margin: 38px auto 0 auto;
  width: 142px;
  height: 140px;
  background-position: -646px -570px;
}
.icon-service {
  display: block;
  background-image: url("../images/sprite.png");
  margin: 0 auto;
}
.icon-service.create-design {
  width: 131px;
  height: 133px;
  background-position: -173px -174px;
}
.icon-service.technical-support {
  width: 97px;
  height: 115px;
  background-position: -529px 0px;
}
.icon-service.create-web {
  width: 121px;
  height: 119px;
  background-position: -436px -162px;
}
.icon-social {
  float: right;
  margin: 10px 44px 0 0;
  background-image: url("../images/sprite.png");
  width: 80px;
  height: 80px;
}
.icon-social.skype {
  background-position: 2px -240px;
}
.icon-social.skype:hover {
  background-position: -80px -240px;
}
.icon-social.facebook {
  background-position: 0 -160px;
}
.icon-social:hover {
  background-position: -80px -160px;
}
.icon-social.twitter {
  background-position: 0 -320px;
}
.icon-social.twitter:hover {
  background-position: -80px -320px;
}
/**** PAGES ****/
/**** SLIDER TEST ****/
.slide-0 {
  background: #d96445;
}
.slide-1 {
  background: #da4673;
}
.slide-2 {
  background: #f68b51;
}
.slide-3 {
  background: #2eaf78;
}
.slide-4 {
  background: #019992;
}
.slide-5 {
  background: #edcb39;
}
.slide-6 {
  background: #54b957;
}
.slide-7 {
  background: #3a383e;
}
.slide-8 {
  background: #fff;
}
.company-info-slider-holder.fixed {
  position: fixed;
  top: 0;
  left: 0;
}
.company-info-slider-holder.rel {
  top: 0;
  left: 0;
  position: relative;
}
.company-info-slider {
  width: 100%;
  height: 100%;
  position: relative;
}
.company-info-slider .slide {
  width: 100%;
  position: absolute;
  margin: 0 auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 0;
  overflow: hidden;
}
.company-info-slider .slide p {
  font-family: 'Reef-bold', sans-serif;
  font-size: 23px;
  color: #fff;
  text-align: center;
}
.company-info-slider .slide.is-active {
  z-index: 1;
}
.footer-block {
  height: 128px;
  width: 100%;
  background: #f1635a;
/*h2
    font-size 80px
    text-align center
    padding 200px 0*/
}
/**** INDEX ****/
.header-block {
  z-index: 6;
  position: fixed;
  height: 58px;
  width: 100%;
  background: url("../images/header-bg.png");
}
.navigation {
  zoom: 1;
  float: right;
  position: relative;
  margin: 0 40px 0 0;
}
.navigation:before,
.navigation:after {
  content: "";
  display: table;
}
.navigation:after {
  clear: both;
}
.navigation li {
  float: left;
  margin: 16px 0 0 40px;
}
.navigation a {
  font-family: 'Reef-bold', sans-serif;
  font-size: 28px;
  color: #fff;
  line-height: 28px;
  transition: 0.3s;
}
.navigation a:hover {
  color: #f1635a;
  transition: 0.3s;
}
.bg-picture {
  z-index: 1;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  min-width: 980px;
  background: url("../images/bg-image.jpg") no-repeat center center;
  height: 641px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
.bg-picture .logo {
  padding: 58px 0 0 11px;
  text-align: center;
}
.bg-picture .logo .icon-logo-big {
  margin-bottom: -10px;
}
.bg-picture .logo span {
  display: block;
  text-align: center;
  font-family: "Maxwell-bold", "Times New Roman", sans-serif;
  font-size: 38px;
  color: #fff;
}
.post {
  position: relative;
  float: left;
  width: 184px;
  margin: 0 0 0 288px;
}
.or {
  display: inline-block;
  position: relative;
  margin: 0 0 0 22px;
  float: left;
  font-family: "Reef-bold", sans-serif;
  font-size: 23px;
  color: #fff;
}
.tel {
  position: relative;
  float: left;
  margin: 0 0 0 32px;
}
.services {
  width: 980px;
  height: 100%;
  overflow: hidden;
}
.services li {
  float: left;
  margin-right: 110px;
}
.services li .image-holder {
  height: 150px;
  position: relative;
}
.services li .image-holder .icon-service {
  position: absolute;
  top: -500px;
  left: -500px;
  right: -500px;
  bottom: -500px;
  margin: auto;
}
.services li:first-child {
  margin-left: 9px;
  margin-right: 110px;
}
.services li:last-child {
  padding: 0;
  margin: 0;
}
.services h3 {
  font-size: 28px;
  font-family: "Reef-bold", sans-serif;
}
.services .text-services {
  display: inline-block;
  position: relative;
  bottom: 0;
  font-size: 23px;
  font-family: "Reef-bold", sans-serif;
  color: #000;
  vertical-align: bottom;
}
